@import '../../common.scss';

.scheduleList{
  padding: 40px 0;
  &__data{
    background-color: #fff;
  }
  &__links{
    text-align: center;
  }
}

.main__top_header__scheduleList{
  color: $blackColor;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

td{
  padding: 20px 10px;
}

.scheduleList__table{
  width: 100%;
  border-collapse: collapse;
  &_thead{
    display: none;
  }
}
.scheduleList__table__tbody{
  &_row:nth-child(odd){
    background-color: rgba(0,102,135,.1);
  }
  &_terminal, &_destintion, &_fact-time, &_airline, &_flight {
    display: none;
  }
}



